<!DOCTYPE html>
<html>
<head>
    <title>Hotels</title>
</head>
<body>
    <script src="../../Content/Scripts/handlebars-v4.0.5.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    
    <script id="hotels-template" type="text/x-handlebars-template">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>LowestPrice</th>
                <th>Location</th>
            </tr>
            {{#each this}}
            <tr class="data">
                <td>{{Name}}</td>
                <td>{{Rating}}</td>
                <td>{{LowestPrice}}</td>
                <td>{{Location}}</td>
            </tr>
            {{/each}}
        </table>
    </script>
    <h2>Ajax</h2>
    <div class="content-placeholder"></div>
    <button id="fetchData" style="height:30px">Fetch Hotel Data</button>
    <script src="~/Content/Scripts/ajaxCall.js"></script>
    <script>
        var uri = 'api/ajax';

        // Grab the template script
        var theTemplateScript = $("#hotels-template").html();

        //complie template
        var theTemplate = Handlebars.compile(theTemplateScript);

        var _ajaxCall = new ajaxCall($, theTemplate, $('.content-placeholder'));

        function onFetchHotelDataClick() {
            _ajaxCall.requestData(uri);
        };

    $(document).ready(function () {
        $('#fetchData').click(onFetchHotelDataClick);
    });

    </script>
</body>
</html>
